@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 4px;
	overflow: hidden;
	background-color: #333;
	background: rgba(0, 0, 0, 0.4);
	opacity:
}

li {
	float: left;
}

li a {
	display: block;
	color: #F8F8FF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 0 0 3px #FF0000;
	color: grey;
}

li a:hover {
	background-color: #111;
}

ul {
	position: fixed;
	top: 0;
	width: 100%;
	color:
}

.main {
	text-align: center;
	padding-top: 100px;
	font-size: 60px;
	color: black;
	text-shadow: 0 0 7px #FFFFFF;
}

body {
	background-image:
		url('/Users/Fresco/Desktop/Website/thomas-griesbeck-149034.jpg');
	background-size: cover;
}

/* Three columns side by side */
.column {
	float: center;
	width: 30.3%;
	margin-bottom: 0px;
	padding: 0 0px;
	padding-left: 300px;
	padding-top: 100px;
	padding-right: 0px;
}

/* Display the columns below each other instead of side by side on small screens */
@media ( max-width : 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

/* Add some shadows to create a card effect */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	
}

/* Some left and right padding inside the container */
.container {
	padding: 0 0px;
	color: grey;
	text-shadow: 0 0 7px #FF0000;
}
}

/* Clear floats */
.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
	color: black:
}
}

.title {
	color: white;
	text-shadow: 0 0 7px #FF0000;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	text-shadow: 0 0 7px #FF0000;
}
}

.button:hover {
	background-color: #555;
}